*
{
  box-sizing: border-box;  
}

body{

    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}
header{
    background-color: ;
    padding: ;
    text-align: ;
    font-size: ;
    color: ;
}